<li>
  <div class="thumb">
    <%- if item.user.present? -%>
      <%= render partial: 'users/avatar', locals: { user: item.user } %>
    <%- else -%>
      by <%= item.whodunnit %>
    <%- end -%>
  </div>
  <div class="controls">
    <%= time_ago(item.created_at) %>
  </div>
  <div class="title">
    <%= render partial: 'users/username', locals: { user: item.user } %>
    <%- if item.route.present? -%>
      <%= _('edited route %{route_link} at %{geo_ref_link}') % {
        route_link: icon_link_to(item.route.icon, item.route.name, item.route),
        geo_ref_link: icon_link_to(item.geo_ref.icon, item.geo_ref.name, geo_ref_path(item.geo_ref))
      } %>
    <%- else -%>
      <%= _('edited at location %{geo_ref_name}') % {
        geo_ref_name: icon_link_to(item.geo_ref.icon, item.geo_ref.name, geo_ref_path(item.geo_ref))
      } %>
    <%- end -%>
    <%= render partial: 'versions/type', locals: { version: item } %>
  </div>
  <div class="description">
    <%- if item.item.present? -%>
      <%-
        item_labels = { 
          item_link: icon_link_to(item.item.icon, item.item.display_name, item.item&.as_base_class),
          item_type: _(item.item.class.display_name)
        }
      -%>
      <%- if item.event == 'create' -%>
        <%= _('%{item_type} %{item_link} has been added.') % item_labels %>
      <%- elsif item.event == 'update' -%>
        <%= _('%{item_type} %{item_link} has been updated.') % item_labels %>
      <%- end -%>
    <%- else -%>
      <%-
        item_labels = { item_type: item.item_type }
      -%>
      <%- if item.event == 'create' -%>
        <%= _('%{item_type} has been added.') % item_labels %>
      <%- elsif item.event == 'update' -%>
        <%= _('%{item_type} has been updated.') % item_labels %>
      <%- elsif item.event == 'destroy' -%>
        <%= _('%{item_type} has been deleted.') % item_labels %>
      <%- end -%>
    <%- end -%>

    <%= render partial: 'versions/changeset', locals: { version: item } %>
  </div>
</li>
