<li>
  <div class="title">
    <%= link_to item.name, path_path(item) %>
    <small>
      <%= _(item.type) %>
    </small>
  </div>
  <div class="description">
    <%= item.geo_refs.map { |gr| gr.name }.join(', ') %>
  </div>
</li>
