<% content_for :buttons do %>
  <% if can?(:update, @path) -%>
    <%= link_to(
      "<span class=\"fa fa-pencil\"></span> #{_('Edit')}".html_safe,
      edit_path_path(@path),
      class: 'btn btn-success'
    ) %>
  <% end -%>
<% end -%>
<% content_for :title do -%>
  <%= @path.name %>
  <small>
    <%= _(@path.type) %>
  </small>
<% end -%>
<% content_for :icon, @path.icon %>

<geo-ref-map
   url="<%=  map_items_path_path(@path) %>"
   <% if @path.track.attached? -%>
     track-url="<%= url_for @path.track %>"
   <% end -%>
   ></geo-ref-map>

<h3><%= _('Path description') %></h3>

<%= markdown @path.body %>

<h3><%= _('Start') %></h3>

<div class="content-list">
  <ul>
    <%= render partial: 'geo_refs/content-list/default', locals: { item: @path.geo_ref } %>
  </ul>
</div>

<h3><%= _('Destinations') %></h3>

<%- if can? :update, @path -%>
  <%= simple_form_for(@path, url: add_geo_ref_path_path(@path), method: :post) do |form| %>
    <div class="form-group autocomplete required geo_ref">
      <label class="control-label autocomplete required" for="geo_ref">
        <abbr title="required">*</abbr> <%= _('Location') %>
      </label>
      <autocomplete-input
        name="geo_ref_id"
        mode="id"
        :initial-id="0"
        initial-value=""
        :min-length="3"
        :allow-freetext="false"
        url="/geo_refs/autocomplete"
        search-param="term"></autocomplete-input>
    </div>
    <%= form.button :submit, _('Add'), class: 'btn btn-secondary' %>
  <% end %>
<%- end -%>

<div class="content-list">
  <ul>
    <% @path.geo_refs.accessible_by(current_ability, :read).each do |geo_ref| -%>
      <%- if can?(:update, @path) && can?(:update, geo_ref) -%>
        <%- geo_ref_controls = capture do -%>
          <%= link_to '<span class="fa fa-trash"></span>'.html_safe, remove_geo_ref_path_path(@path, geo_ref_id: geo_ref.id), class: 'btn btn-success btn-sm', method: :post %>
        <%- end -%>
      <%- end -%>
      <%= render(
        partial: 'geo_refs/content-list/default',
        locals: {
          item: geo_ref,
          controls: geo_ref_controls
        }
      ) %>
    <% end -%>
  </ul>
</div>

<%= render partial: 'rbids/links', locals: { rbids: @rbids } %>
