<%= render_navigation do |primary|
  primary.item(
    :guide,
    {
      icon: 'star',
      text: _("What's new?"),
    },
    dashboard_path
  )
  primary.item(
    :versions,
    {
      text: "#{_('Change history')} #{counter_badge(@versions.count)}".html_safe,
      icon: Version.icon,
    },
    dashboard_versions_path
  ) unless @versions.nil?
  primary.dom_class = 'nav nav-tabs mb-3'
end %>
