<%- if @base_object.is_a?(User) && @base_object == current_user -%>
  <% content_for :buttons do %>
    <%= link_to(
      "<span class=\"fa fa-plus\"></span> #{_('New Ascent')}".html_safe,
      new_user_ascent_path(current_user),
      class: 'btn btn-success pull-right'
    ) %>
  <% end %>
  <% content_for :title, _('My Ascents') -%>
  <%- content_for :icon, Ascent.icon -%>
<%- elsif @base_object.is_a?(User) -%>
  <% content_for :title do -%>
    Ascents of <%= @base_object.name %>
  <% end %>
  <%- content_for :icon, Ascent.icon -%>
<%- elsif @base_object.is_a?(Route) -%>
  <%= render partial: 'routes/head', locals: { route: @base_object } %>
  <%= render partial: 'routes/secondary_tab_nav', locals: { route: @base_object } %>
<%- elsif @base_object.is_a?(GeoRef) -%>
  <%= render partial: 'geo_refs/head', locals: { geo_ref: @base_object } %>
  <%= render partial: 'geo_refs/secondary_tab_nav', locals: { geo_ref: @base_object } %>
<%- else -%>
  <%- content_for :title, _('All Ascents') -%>
  <%- content_for :icon, Ascent.icon -%>
<%- end -%>

<% if @base_object.is_a? GeoRef -%>
  <%= render partial: 'ascents/geo_ref_search_form' %>
<% elsif @base_object.is_a? Route -%>
<% else -%>
  <%= render partial: 'ascents/global_search_form' %>
<% end -%>

<%= render(
  'common/content_list',
  result: @ascents
) %>
