<%= render partial: 'routes/head', locals: { route: @route } %>
<%= render partial: 'routes/secondary_tab_nav', locals: { route: @route } %>

<%- @route_links_from.each do |route_link| -%>
  <%= render(
    partial: 'route_links/route_from',
    locals: {
      route_link: route_link,
      path_helper: :route_inventories_path
    }
  ) %>
<%- end -%>
<%- @route_links_to.each do |route_link| -%>
  <%= render(
    partial: 'route_links/route_to',
    locals: {
      route_link: route_link,
      path_helper: :route_inventories_path
    }
  ) %>
<%- end -%>

<div class="content-list">
  <ul>
    <% @inventories.each do |inventory| %>
      <%= render(
        partial: 'inventories/content-list/default',
        locals: inventory
      ) %>
    <% end %>
  </ul>
</div>

<%- if @removed_inventories.any? -%>
  <h3 class="mt-3"><%= icon_for 'remove' %> <%= _('Removed inventory') %></h3>

  <%= render(
    'common/content_list',
    result: @removed_inventories,
    paginate: false
  ) %>
<%- end -%>
