<%- controls ||= nil %>
<%- show_closures ||= false %>
<%- show_path ||= false %>
<%- if controls.nil? -%>
  <%- controls = capture do -%>
    <%- if Routenbuch.features.ticklists? && can?(:create, Ticklist.new(route: item, user: current_user)) -%>
      <span data-toggle="tooltip" title="<%= _('Add route to your ticklist') %>">
        <%= link_to '<span class="fa fa-bookmark"></span>'.html_safe, new_route_ticklist_path(item), class: 'btn btn-success btn-sm' %>
      </span>
    <%- end -%>
    <%- if Routenbuch.features.ascents? && can?(:create, Ascent.new(route: item, user: current_user)) -%>
      <span data-toggle="tooltip" title="<%= _('Log new ascents of this route') %>">
        <%= link_to '<span class="fa fa-check"></span>'.html_safe, new_route_ascent_path(item), class: 'btn btn-success btn-sm' %>
      </span>
    <%- end -%>
  <%- end -%>
<%- end -%>
<li>
  <div class="controls">
    <%= controls %>
  </div>
  <div class="title">
    <%= link_to item.name, item %>
    <small>
      <% if item.pitches.present? %>(<%= item.pitches %> pt.)<% end -%>
    </small>
    <% if item.user_has_redpoint(current_user) -%>
      <span class="fa fa-circle redpoint"></span>
    <% end -%>
    <%= render partial: 'grades/grade_badge', locals: { grade: item.grade } if item.grade.present? %>
    <%- if show_closures -%>
      <%- item.closures.each do |closure| -%>
        <%= render partial: 'closures/badge', locals: { closure: closure } %>
      <%- end -%>
    <%- end -%>
  </div>
  <% if item.description.present? %>
    <div class="description">
      <%= item.description %>
    </div>
  <% end %>
</li>
