<% content_for :title, _('Search') %>
<% content_for :icon, 'search' %>

<%= form_with(url: search_index_path, method: :get, local: true) do %>
  <div class="input-group">
    <%= text_field_tag(:q, @q, class: 'form-control') %>
    <div class="input-group-append">
      <%= submit_tag('Search', class: 'btn btn-primary') %>
    </div>
  </div>
<% end %>

<% if @geo_refs&.any? -%>
  <h3 class="mt-3"><%= _('Locations') %></h3>

  <%= render(
    'common/content_list',
    result: @geo_refs,
    paginate_param_name: :geo_refs_page
  ) %>
<% end -%>

<% if @routes&.any? -%>
  <h3 class="mt-3"><%= _('Routes') %></h3>

  <%= render(
    'common/content_list',
    result: @routes,
    paginate_param_name: :routes_page
  ) %>
<% end -%>

<% if @first_ascent_people&.any? -%>
  <h3 class="mt-3"><%= _('First Ascensionists') %></h3>

  <%= render(
    'common/content_list',
    result: @first_ascent_people,
    paginate_param_name: :first_ascent_people_page
  ) %>
<% end -%>
