<% photos.each do |photo| -%>
  <a href="<%= photo.photo.url %>" data-lightbox="target-<%= photo.target_type %>-<%= photo.target_id %>" data-title="<%= photo.description %>">
    <%= image_tag(photo.photo.thumb.url, class: 'img-thumbnail') %>
  </a>
<% end -%>
