<%= simple_form_for [@geo_ref.as_base_class, @secondary_zone] do |form| %>
  <%= back_button %>
  <%= form.error_notification %>

  <%= form.input(
    :geo_ref,
    label: _('Location'),
    disabled: true,
    input_html: { value: @geo_ref.name }
  ) %>
  <%= form.input(
    :description,
    label: _('Description'),
  ) %>
  <%= form.association(
    :zone,
    label: _('Climbing zone'),
    include_blank: false
  ) %>

  <%= form.button :submit %>
<% end %>
