<%-
  logo_url = if Routenbuch.config.key?(:logo_url)
               Routenbuch.config[:logo_url]
             else
               asset_path('brand.svg')
             end
-%>
<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand flex-grow-1" href="<%= root_path %>">
    <img src="<%= logo_url %>" width="40" height="40" class="d-inline-block align-top" alt="">
    <div class="d-none d-md-inline"><%= page_title %></div>
  </a>
  <%- if show_global_search -%>
    <%= form_with(
      url: search_index_path,
      method: :get,
      local: true,
      class: 'form-inline p-2',
      id: 'global-search'
    ) do %>
      <div class="input-group">
        <%= text_field_tag(:q, '', type: 'search', placeholder: _('Search'), class: 'form-control') %>
        <div class="input-group-append">
          <button type="submit" class="btn btn-secondary">
            <i class="fa fa-search" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    <% end %>
  <%- end -%>
  <%- if show_navigation -%>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  <%- end -%>

  <%- if show_navigation -%>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <%= render_navigation(
        context: navigation_context,
        expand_all: true,
        navigation_class: ['navbar-nav', 'flex-row', 'flex-wrap'],
        column_class: 'col-md-4'
      ) %>
    </div>
  <%- end -%>
</nav>
