<%-
  item_class = begin
                 version.item_type.constantize
               rescue NameError
                 nil
               end
  changeset = if item_class
                ActiveSupport::ParameterFilter.new(
                  item_class.filter_attributes,
                  mask: ['[FILTERED]', '[FILTERED]']
                ).filter(version.changeset)
              else
                version.changeset
              end
-%>
<div class="diff-changeset">
<%- changeset.to_a.each do |attr,diff| -%>
  <%- next if attr == 'updated_at' -%>

  <div class="diff-attribute"><%= attr %>:</div>
  <%- if diff[0].present? && diff[1].present? -%>
    <%- if diff[0].is_a?(String) && /\s/.match(diff[1]) -%>
      <%= diff_lcs(diff[0].to_s, diff[1].to_s) -%>
    <%- else -%>
      <div class="diff-content"><div class="diff-discard"><%= diff[0] %></div></div>
      <div class="diff-content"><div class="diff-add"><%= diff[1] %></div></div>
    <%- end -%>
  <%- elsif diff[0].present? -%>
    <div class="diff-content"><div class="diff-discard"><%= diff[0] %></div></div>
  <%- elsif diff[1].present? -%>
    <div class="diff-content"><div class="diff-add"><%= diff[1] %></div></div>
  <%- end -%>
<%- end -%>
</div>
