<%-
  last = nil
  current_set = []
-%>
<div class="content-list">
<ul>
  <% @versions.each do |version| %>
    <%-
      last = [version.user, version.geo_ref] if last.nil?

      current = [version.user, version.geo_ref]
      if current == last
        current_set << version
        next
      end
    -%>
    <%= render(
      partial: 'versions/content-list/compact',
      locals: {
        user: last[0],
        geo_ref: last[1],
        versions: current_set
      }
    ) -%>
    <%-
      current_set = [version]
      last = current
    -%>
  <% end %>
  <%- if current_set.any? -%>
    <%= render(
      partial: 'versions/content-list/compact',
      locals: {
        user: last[0],
        geo_ref: last[1],
        versions: current_set
      }
    ) -%>
  <% end %>
</ul>
</div>

<%= paginate @versions %>
