<% content_for :title, _('Page not found') %>
<% content_for :icon, 'search' %>

<div class="text-center">
  <h1 class="display-1">404</h1>
  <i class="fa fa-frown-o fa-5x" aria-hidden="true"></i>
  <p class="lead">
    <%= _('The page you\'re looking for does not exist.') %>
  </p>
</div>
