<table class="table table-striped">
  <tr>
    <th></th>
    <%- @table.head.each do |title| -%>
      <th><%= title %></th>
    <%- end -%>
  </tr>
  <%- @table.table.each do |row| -%>
    <tr>
      <%- row.each do |cell| -%>
        <%- case cell
            when String -%>
          <td><%= cell %></td>
        <%- when TrueClass -%>
          <td class="table-success"><%= _('Yes') %></td>
        <%- when FalseClass -%>
          <td><%= _('No') %></td>
        <%- end -%>
      <%- end -%>
    </tr>
  <%- end -%>
</table>
