<%- if geo_ref.access == 'private' -%>
  <span class="badge badge-danger" data-toggle="tooltip" title="<%= _('Location is private') %> ">
    <i class="fa fa-user-circle"></i>
  </span>
<%- elsif geo_ref.access == 'confidential' -%>
  <span class="badge badge-danger" data-toggle="tooltip" title="<%= _('Location is confidential') %> ">
    <i class="fa fa-user-secret"></i>
  </span>
<%- end -%>
