<% return if geo_ref.stats.nil? %>
<% if ( crags_count = geo_ref.stats['descendent_crags_count'] ) > 0 %>
  <span class="badge badge-secondary" data-toggle="tooltip" title="<%= crags_count %> <%= n_('crag', 'crags', crags_count) %> ">
    <i class="fa fa-map-marker"></i>
    <%= crags_count %>
  </span>
<% end %>
<% geo_ref.stats['route_grade_stats'].to_a.each do |name,count| %>
  <span class="badge grade-<%= name %>" data-toggle="tooltip" title="<%= _("routes graded %{difficulty}") % { difficulty: _(name) } %>">
    <%= count %>
  </span>
<% end %>
