<template>
  <div class="geolocation-input">
    <div class="geolocation-input-map mb-1">
      <l-map
        :noBlockingAnimations="true"
        :zoom="13"
        @update:center="centerUpdated"
        :center="center">
        <l-tile-layer
          :url="base_layer_url"
          :attribution="attribution"
        />
      </l-map>
      <div class="crosshair">
        <i class="fa fa-crosshairs fa-3x" aria-hidden="true"></i>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="input-group mb-1">
          <div class="input-group-prepend">
            <span class="input-group-text">Lat:</span>
          </div>
          <input
            :name="latInputName"
            v-model="lat"
            @input="centerMap"
            class="form-control"
            autocomplete="off"
            placeholder="no location..."></input>
        </div>
      </div>
      <div class="col-md-6">
        <div class="input-group mb-1">
          <div class="input-group-prepend">
            <span class="input-group-text">Lng:</span>
          </div>
          <input
            :name="lngInputName"
            v-model="lng"
            @input="centerMap"
            class="form-control"
            autocomplete="off"
            placeholder=""></input>
        </div>
      </div>
    </div>
    <button type="button" class="btn btn-sm btn-outline-secondary" href="" @click="clearClicked">
      <i class="fa fa-eraser" aria-hidden="true"></i> clear
    </button>
    <button type="button" class="btn btn-sm btn-outline-secondary" href="" @click="resetClicked">
      <i class="fa fa-undo" aria-hidden="true"></i> reset
    </button>
    <button type="button" class="btn btn-sm btn-outline-primary" href="" @click="setLocation">
      <i class="fa fa-crosshairs" aria-hidden="true"></i> use map location
    </button>
  </div>
</template>

<script>
import { LMap, LTileLayer } from 'vue2-leaflet';

export default {
  name: 'GeolocationInput',
  props: {
    initialLat: {
      type: String,
      default: ''
    },
    initialLng: {
      type: String,
      default: ''
    },
    centerLat: {
      type: String,
      default: ''
    },
    centerLng: {
      type: String,
      default: ''
    },
    latInputName: {
      type: String,
      required: true,
    },
    lngInputName: {
      type: String,
      required: true,
    },
  },
  data: function () {
    return {
      base_layer_url: 'https://{s}.tile.openstreetmap.de/{z}/{x}/{y}.png',
      attribution:
        '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
      lat: this.initialLat,
      lng: this.initialLng,
      center: [49,11],
    }
  },
  mounted: function () {
    this.centerMap()
  },
  methods: {
    centerUpdated: function (center) {
      this.center = center
    },
    centerMap: function() {
      if(this.lat != '' && this.lng != '') {
        this.center = new L.latLng(this.lat, this.lng);
      } else if(this.centerLat != '' && this.centerLng != '') {
        this.center = new L.latLng(this.centerLat, this.centerLng);
      }
    },
    clearClicked: function() {
      this.lat = ''
      this.lng = ''
    },
    resetClicked: function() {
      this.lat = this.initialLat
      this.lng = this.initialLng
      this.centerMap()
    },
    setLocation: function () {
      this.lat = this.center.lat
      this.lng = this.center.lng
    },
  },
  components: {
    LMap,
    LTileLayer
  }
}
</script>

<style>
.geolocation-input-map {
  position: relative;
  height: 200px;
  width: 100%;
}

.crosshair {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}
</style>
