<template>
  <div class="geo-ref-map" v-bind:class="{ active: isActive }">
    <l-map
      ref="map"
      :bounds="bounds"
      :noBlockingAnimations="true"
      :zoom="zoom"
      :center="center"
      @focus="focus"
      @blur="blur"
      :options="mapOptions">
      <l-tile-layer
        :url="base_layer_url"
        :attribution="attribution"
      />
      <geo-ref-map-marker v-for="item in items" v-bind:key="item.id" :item="item">
      </geo-ref-map-marker>
      <l-gpx v-if="trackUrl != ''"
        :gpx-file="trackUrl"
        ></l-gpx>
      <l-control class="map-center-control">
        <div @click="centerMap">
          <i class="fa fa-crosshairs" aria-hidden="true"></i>
        </div>
      </l-control>
      <l-control-scale position="bottomleft" :imperial="false" :metric="true"></l-control-scale>
    </l-map>
  </div>
</template>

<script>
import { latLng, latLngBounds, featureGroup, marker } from 'leaflet'
import { LMap, LControl, LTileLayer, LMarker, LTooltip, LControlScale } from 'vue2-leaflet';
import LGpx from './LGpx.vue';

export default {
  name: 'GeoRefMap',
  props: {
    initialZoom: {
      type: Number,
      default: 11
    },
    initialLat: {
      type: Number,
      default: 49.8
    },
    initialLng: {
      type: Number,
      default: 11.3
    },
    url: {
      type: String,
      required: true
    },
    trackUrl: {
      type: String,
      default: ''
    },
  },
  data () {
    return {
      zoom: this.initialZoom,
      center: latLng(this.initialLat, this.initialLng),
      base_layer_url: 'https://{s}.tile.openstreetmap.de/{z}/{x}/{y}.png',
      attribution:
        '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
      mapOptions: {
        zoomSnap: 0.5,
        scrollWheelZoom: false,
      },
      items: null,
      zoomMap: {
        Country: 9,
        Region: 11,
        Crag: 13,
        Sector: 14,
        Parking: 16,
      },
      bounds: null,
      isActive: false,
    };
  },
  mounted: function () {
    this.loadItems();
  },
  methods: {
    loadItems: function () {
      this.$http.get(this.url).then(response => {
        var items = response.data.data;
        
        if(items.length == 0) {
          return;
        }

        this.items = items;
        this.centerMap();
      });
    },
    centerMap: function() {
      if(this.items.length == 1) {
        this.centerItem(this.items[0])
      } else {
        this.centerBounds(this.items)
      }
    },
    centerItem: function (item) {
      if(item.attributes.lat) {
        this.center = latLng(item.attributes.lat, item.attributes.lng)
      }
      var type = item.attributes.type
      if(type) {
        this.zoom = this.zoomMap[type] || this.initialZoom
      }
    },
    centerBounds: function (items) {
      var coords = []
      items.forEach(function(item, index) {
        if(item.attributes.lat) {
          coords.push(marker([item.attributes.lat, item.attributes.lng]))
        }
      });
      var group = new featureGroup(coords);
      var bounds = group.getBounds();
      var ne = bounds.getNorthEast();
      var sw = bounds.getSouthWest();
      this.bounds = [[sw.lat, sw.lng],[ne.lat, ne.lng]]
    },
    enableScrollWheelZoom: function () {
      this.mapOptions.scrollWheelZoom = true
      this.$refs.map.mapObject.scrollWheelZoom.enable()
    },
    disableScrollWheelZoom: function () {
      this.mapOptions.scrollWheelZoom = false
      this.$refs.map.mapObject.scrollWheelZoom.disable()
    },
    focus: function () {
      this.enableScrollWheelZoom();
      this.isActive = true;
    },
    blur: function () {
      this.disableScrollWheelZoom();
      this.isActive = false;
    }
  },
  components: {
    LMap,
    LTileLayer,
    LTooltip,
    LMarker,
    LControl,
    LControlScale,
    LGpx
  }
};
</script>

<style lang="scss">
.map-center-control {
  background: #fff;
  padding: 0 0.5em;
  border: 1px solid #aaa;
  border-radius: 0.1em;
}
.geo-ref-map {
  width: 100%;
  height: 200px;

  &.active {
    box-shadow: 1px 1px 4px #000;
  }
}
</style>
