<%-
  # may be a query or array when it is nested
  query = q.is_a?(Array) ? q.last : q
-%>
<b-tabs content-class="mt-3">
  <b-tab title="Quick search" <%= @advanced_mode ? '' : 'active' %>>
    <%= render 'advanced_search/simple_form',
      label: simple_label,
      search_field: simple_search_field,
      placeholder: simple_placeholder,
      q: q %>
  </b-tab>
  <b-tab title="Advanced search" <%= @advanced_search ? 'active' : '' %>>
    <%= advanced_search_form_for(
      q,
      url: url_for(controller: controller_name, action: :search),
      html: { method: :post }
    ) do |form| %>
      <advanced-search
        :attribute-info="<%= query.klass.ransack_attribute_info.to_json %>"
        :initial-filters="<%= query.base.conditions.map { |c|
          {
            field: c.attributes[0]&.name,
            matcher: c.predicate&.name,
            value: c.values[0]&.value
          }
        }.reject { |c| c[:field].nil? }.to_json %>"
        :initial-sorts="<%= query.sorts.map { |s|
          {
            field: s.name,
            direction: s.dir,
          }
        }.reject { |s| s[:field].nil? }.to_json %>">
      </advanced-search>

      <div class="form-group">
        <%= button_tag(:submit, class: 'btn btn-primary') do %>
          <i class="fa fa-search fa-lg" aria-hidden="true"></i> Search
        <% end %>
      </div>
    <% end -%>
  </b-tab>
</b-tabs>
