<% content_for :title, _('Editing route link') %>
<% content_for :icon, @route_link.icon %>

<% content_for :buttons do %>
  <% if can?(:destroy, @route_link) -%>
    <%= link_to "<span class=\"fa fa-trash\"></span> #{_('Delete')}".html_safe, route_route_link_path(@route_link.route_from, @route_link), method: :delete, data: { confirm: _('Are you sure?') }, class: 'btn btn-danger pull-right' %>
  <% end %>
<% end %>

<%= render 'form' %>
