<% content_for :buttons do %>
  <% if can?(:update, @photo) -%>
    <%= link_to(
      "<span class=\"fa fa-pencil\"></span> #{_('Edit')}".html_safe,
      edit_photo_path(@photo),
      class: 'btn btn-success' 
    ) %>
  <% end -%>
<% end -%>

<%- content_for :title, "#{_('Photo')}: #{@photo.description}" -%>
<%- content_for :icon, @photo.icon -%>

<%= thumbnail_tag(@photo.photo, size: :page_preview, class: 'mb-3 img-fluid') %>

<table class="table table-striped">
  <tr>
    <th><%= _('Attached to') %>:</th>
    <td><%= link_to @photo.target.name, @photo.target.as_base_class %></td>
  </tr>
  <%- if can? :read, @photo.user -%>
    <tr>
      <th><%= _('Uploaded by') %>:</th>
      <td><%= link_to @photo.user.name, @photo.user %></td>
    </tr>
  <%- end -%>
  <tr>
    <th><%= _('Uploaded on') %>:</th>
    <td><%= @photo.created_at %></td>
  </tr>
  <tr>
    <th><%= _('Full size') %>:</th>
    <td><%= link_to _("download"), @photo.photo %></td>
  </tr>
</table>
