<%= render partial: 'first_ascent_people/head', locals: { first_ascent_person: @first_ascent_person } %>
<%= render partial: 'first_ascent_people/secondary_tab_nav', locals: { first_ascent_person: @first_ascent_person } %>

<dl>
  <dt><%= _('First name') %></dt>
  <dd><%= @first_ascent_person.first_name %></dd>
  <dt><%= _('Last name') %></dt>
  <dd><%= @first_ascent_person.last_name %></dd>
<%- if @first_ascent_person.alternative_names.any? -%>
  <dt><%= _('Other names') %></dt>
  <dd><%= @first_ascent_person.alternative_names.join(', ') %></dd>
<%- end -%>
</dl>
