<%- dropdown_link_options = {
  class: 'dropdown-item',
  icon_class: ['fw']
} -%>
<% if can?(:edit, route) -%>
  <%= icon_link_to 'edit', _('Edit'), edit_route_path(route), **dropdown_link_options %>
  <div class="dropdown-divider"></div>
<% end -%>
<% if can?(:create, Photo.new(target: route, user: current_user)) -%>
  <%= icon_link_to Photo, _('Add photo').html_safe, new_route_photo_path(route), **dropdown_link_options %>
<% end -%>
<%= icon_link_to(
  Ascent,
  _('Add ascent').html_safe,
  new_route_ascent_path(route),
  **dropdown_link_options
) if Routenbuch.features.ascents? && can?(:create, Ascent.new(user: current_user, route: route)) %>
<%= icon_link_to(
  Ticklist,
  _('Add ticklist').html_safe,
  new_route_ticklist_path(route),
  **dropdown_link_options
) if Routenbuch.features.ticklists? && can?(:create, Ticklist.new(user: current_user, route: route))%>
<% if can? :create, Inventory.new(route: route) -%>
  <%= icon_link_to Inventory, _('Add inventory'), new_route_inventory_path(route), **dropdown_link_options %>
<% end -%>
<% if can? :create, RouteLink.new(route_from: route) -%>
  <%= icon_link_to RouteLink, _('Add link to another route'), new_route_route_link_path(route), **dropdown_link_options %>
<% end -%>
