<%= render partial: 'photos/cover_photo', locals: { photo: route.photos.cover_photos.first } %>

<%- content_for :dropdown do -%>
  <%= render partial: 'routes/dropdown', locals: { route: route } %>
<% end -%>

<%- content_for :breadcrumb do -%>
  <%= render partial: 'geo_refs/parent_breadcrumb_nav', :locals => { :geo_ref => route.geo_ref, :include_self => true } %>
<%- end -%>

<%- content_for :title do -%>
  <%= route.name %>
  <% if route.user_has_redpoint(current_user) -%>
    <span class="fa fa-circle redpoint"></span>
  <% end -%>
  <%= render partial: 'grades/grade_badge', :locals => { :grade => route.grade } if route.grade.present? %>
<%- end -%>

<%- content_for :icon, route.icon -%>
