div#page {
  height:auto !important;
  min-height:100%;
  background-color: #fff;
  overflow: hidden;
}

div#main-row {
  margin-bottom: -99999px;
  padding-bottom: 99999px;
}

div#main {
  padding: 0;
  margin: 0;

  .container {
    padding-top: 60px;
  }
}

div#left {
  padding: 0;
  margin: 0;
  float: left;
}

div#sidebar {
  background-color: rgb(92, 92, 92);

  .navbar-brand {
    margin: 0;
    font-size: 18px;

    color: rgb(210,210,210);
    padding: 15px;

    :hover {
      background-color: rgb(60, 60, 60);
    }
  }

  li.nav-item {
    .nav-link {
      color: rgb(210,210,210);
    }

    a.nav-link:hover {
      background-color: rgb(60, 60, 60);
    }

    a.active {
      color: rgb(230,230,230);
      background-color: rgb(60, 60, 60);
    }
  }
}

@media (min-width: 768px) {
  html,body {
    height:100%;
    width: 100%;
    background-color: #70cdf9;
    background: url(<%= asset_path 'background.jpg' %>) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}

@media (min-width: 992px) {
  div#left {
    height: 100%;
  }
  div#sidebar {
    height: 100%;
    margin-bottom: -99999px;
    padding-bottom: 99999px;

    .navbar {
      display: block;
    }
    
		.navbar-collapse {
			padding: 0;
		}
    .navbar-brand {
      width: 100%;
    }

    li {
      width: 100%;
    }

    .nav-link {
      .fa {
        margin-right: 10px;
      }

      border-left: 2px solid rgb(92,92,92);
    }

    a.nav-link:hover {
      border-left: 2px solid #ccc;
    }

    a.active {
      border-left: 2px solid #007bff;
    }
  }

  div#content {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 768px) {
  form#global-search {
    width: 150px;
  }
}

footer {
  vertical-align: bottom;
}

