<% rbids.each do |rbid| -%>
<div class="btn-group dropup">
  <button class="btn btn-sm btn-link text-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    #<%= rbid.rbid %>
  </button>
  <div class="dropdown-menu">
    <h6 class="dropdown-header"><%= _('RBID') %></h6>
    <span class="dropdown-item-text">
      <%= rbid.rbid %>
      <clipboard-button value="<%= rbid.rbid %>">
    </span>
    <h6 class="dropdown-header"><%= _('Shortlink') %></h6>
    <span class="dropdown-item-text">
      <% url = rbid_redirect_url(rbid.rbid) -%>
      <%= link_to url, url %>
      <clipboard-button value="<%= url %>">
    </span>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="<%= rbid_path(rbid) %>">
      <i class="fa fa-fw fa-link" aria-hidden="true"></i>
      <%= _('Identifier') %>
    </a>
  </div>
<div class="btn-group dropup">
<% end -%>
