<%- content_for :buttons do -%>
  <% if can?(:update, closure) -%>
    <%= icon_link_to 'edit', _('Edit'), edit_closure_path(closure), class: 'btn btn-secondary btn-sm' %>
  <% end -%>
<% end -%>
<%- content_for :breadcrumb do -%>
  <%= render(
    partial: 'geo_refs/parent_breadcrumb_nav',
    locals: {
      geo_ref: closure.geo_ref,
      include_self: true
    }
  ) %>
<%- end -%>
<% content_for :title, closure.name %>
<% content_for :icon, closure.icon %>
