<%= simple_form_for [@closure, @season_closure] do |form| %>
  <%= back_button %>
  <%= form.error_notification %>

  <%= form.input(
    :description,
    label: _('Description'),
  ) %>

  <%= form.input(
    :year, 
    label: _('Year'),
    hint: _('Year this season closure applies to')
  ) %>

  <div class="card border-warning mb-3">
    <div class="card-body">
      <h5 class="card-title"><%= _('Overwriting start and end dates') %></h5>
      <p class="card-text">
      <%= _('Only day and month fields that are different for this season must be set. Fields that are unaffected should be left empty and will use the regular value of the recurring closure.') %>
      </p>
    </div>
  </div>

  <h3><%= _('Start') %></h3>

  <div class="row">
    <div class="col-sm-6">
      <%= form.input(
        :start_day_of_month, 
        label: _('Day of month'),
        as: :select,
        collection: 1..31,
        hint: _('Day of month when closure is active.')
      ) %>
    </div>
    <div class="col-sm-6">
      <%= form.input(
        :start_month, 
        label: _('Month'),
        as: :month_select,
        hint: _('Month when closure is active.')
      ) %>
    </div>
  </div>

  <h3><%= _('End') %></h3>

  <div class="row">
    <div class="col-sm-6">
      <%= form.input(
        :end_day_of_month, 
        label: _('Day of month'),
        as: :select,
        collection: 1..31,
        hint: _('Day of month when closure ends.')
      ) %>
    </div>
    <div class="col-sm-6">
      <%= form.input(
        :end_month, 
        label: _('Month'),
        as: :month_select,
        hint: _('Month when closure ends.')
      ) %>
    </div>
  </div>

  <%= form.button(
    :submit,
    form.object.new_record? ? _('Create season closure') : _('Update season closure')
  ) %>
<% end %>
