<!DOCTYPE html>
<html>
<head>
  <title><%= page_title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= javascript_pack_tag 'application' %>
  <%= stylesheet_pack_tag 'application' %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'twentytwo', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" media="all" href="<%= custom_layout_path %>" data-turbolinks-track="true" />
  <%- unless custom_css_url.nil? -%>
    <link rel="stylesheet" media="all" href="<%= custom_css_url %>" data-turbolinks-track="true" />
  <%- end -%>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container shadow p-0" id="page">
  <%= render 'layouts/twentytwo/main_navigation' %>
  <div class="container-fluid mb-0 border-bottom" id="banner">
    <div class="row">
      <div class="col-auto mr-auto">
        <ul class="nav">
          <li class="nav-item">
            <%= icon_link_to(
              'dashboard',
              "<div class=\"d-none d-sm-inline\">#{_('Dashboard')}</div>".html_safe,
              dashboard_path,
              class: 'nav-link text-secondary'
            ) %>
          </li>
        </ul>
      </div>
      <div class="col-auto">
        <%= render 'layouts/help_navigation' %>
      </div>
      <div class="col-auto">
        <%= render 'layouts/user_navigation' %>
      </div>
    </div>
  </div>

  <%= content_for :cover_photo -%>
  <%= render 'layouts/page_content' %>
  <%= render 'layouts/twentytwo/footer' %>
</div>

</body>
</html>
